body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed; /* Sticky header */
    top: 0; /* Stick to the top */
    width: 100%;
    z-index: 1000; /* Ensure header stays above other content */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

section {
    padding: 20px;
    margin-top: 70px; /* Adjust to accommodate fixed header */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    header {
        padding: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }
}